<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:c="http://www.springframework.org/schema/c"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
        
        <bean name="emp1" class="com.evolvus.SpringPro1.Employee">
        
        
        <property name="name" value="Netra"></property>
        <property name="phones">
        <list>
        <value>987654</value>
        <value>1234567</value>
        <value>765432</value>
        <value>9999999</value>          
        </list>        
        </property>
        <property name="address">
        <set>
        <value>Bijapur</value>
        <value>Bangalore</value>
        <value>Mangalore</value>
         <value>Dakshinkannad</value>        
        </set>
        </property>
        <property name="course">
        <map>
        <entry key="cs" value="01"></entry>
        <entry key="Is" value="02"></entry>
        <entry key="ec" value="03"></entry>
        <entry key="ee" value="04"></entry>
        
        </map>
        
        
        </property>
        
        
        
        
        
        </bean>
        
        
        
</beans>        
